.titles{
    text-align: center;
    margin-bottom: 25px;
}

table, th{
    border: 1px solid black;
}
.table {
    width: 60%;
    margin: 0 auto !important;
}


.carousel-inner img{
    height: 60vh;
    
}


#headGameTable{
    border: 3px solid black;
}

.sortAsc{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    position: relative;
    top: -15px;
    right: -20px;
    
}

.sortDes{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
    position: relative;
    top: 15px;
    right: -20px;
}


.headMenu{
    display: block;
    margin: 0 auto;
    padding: 10px;
    position: fixed;
    background-color: gray;
    top: 20px;
    width: 40%;
    border: 10px solid black;
    border-radius: 20px;
    left: 0px;
    right: 0px;

}

.headMenu a{
    position: relative;
    text-align: center;
    padding: 13px;
    width: 50%;
}

.headMenu a:hover{
    background-color: red;
}

.Header{
    margin-top: 80px;
}