.titles{
    text-align: center;
    margin-bottom: 25px;
}

table, th{
    border: 1px solid black;
}
.table {
    width: 60%;
    margin: 0 auto !important;
}


.carousel-inner img{
    height: 60vh;
    
}


#headGameTable{
    border: 3px solid black;
}

#sortAsc{
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    position: relative;
    top: -15px;
    right: -5px;
    
}

#sortDes{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
    content: "";
    position: relative;
    top: 15px;
    right: -5px;
}

